In [2]:
import modin.pandas as pd
import ray
ray.init()
df=pd.read_csv('C:/Users/adop/OneDrive - Danmarks Tekniske Universitet/Dokumenter/GITHUB/Trips_2018.csv')

2023-11-13 18:43:17,639	INFO worker.py:1664 -- Started a local Ray instance. View the dashboard at http://127.0.0.1:8265

In [6]:
df.head(10)

,Unnamed: 0,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1
5,5,1602,2018-01-01 21:31:54.1920,2018-01-01 21:58:36.3530,72.0,40.767272,-73.993929,482.0,40.739355,-73.999318,30106,Subscriber,1968,1
6,6,722,2018-01-02 07:54:53.6460,2018-01-02 08:06:55.8720,72.0,40.767272,-73.993929,228.0,40.754601,-73.971879,32059,Subscriber,1978,1
7,7,434,2018-01-02 08:06:14.3310,2018-01-02 08:13:28.7670,72.0,40.767272,-73.993929,173.0,40.760683,-73.984527,30525,Subscriber,1983,1
8,8,366,2018-01-02 08:10:15.2550,2018-01-02 08:16:21.8960,72.0,40.767272,-73.993929,479.0,40.760193,-73.991255,27439,Subscriber,1974,1
9,9,324,2018-01-02 08:13:30.8960,2018-01-02 08:18:55.1200,72.0,40.767272,-73.993929,450.0,40.762272,-73.987882,30892,Subscriber,1947,1

In [7]:
df.describe()

,Unnamed: 0,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,birth_year,gender
count,1.754834e+07,1.754834e+07,1.754584e+07,1.754834e+07,1.754834e+07,1.754584e+07,1.754834e+07,1.754834e+07,1.754834e+07,1.754834e+07,1.754834e+07
mean,8.774169e+06,9.887432e+02,1.589282e+03,4.073737e+01,-7.398260e+01,1.580830e+03,4.073704e+01,-7.398281e+01,2.656141e+04,1.978993e+03,1.148613e+00
std,5.065769e+06,1.889584e+04,1.439432e+03,3.225813e-02,1.912753e-02,1.438502e+03,3.206583e-02,1.919611e-02,6.222916e+03,1.192922e+01,5.438043e-01
min,0.000000e+00,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03,0.000000e+00
25%,4.387084e+06,3.580000e+02,3.800000e+02,4.071755e+01,-7.399521e+01,3.800000e+02,4.071755e+01,-7.399595e+01,2.029300e+04,1.969000e+03,1.000000e+00
50%,8.774169e+06,6.050000e+02,5.050000e+02,4.073818e+01,-7.398565e+01,5.050000e+02,4.073756e+01,-7.398602e+01,2.827000e+04,1.981000e+03,1.000000e+00
75%,1.316125e+07,1.060000e+03,3.249000e+03,4.075763e+01,-7.397283e+01,3.249000e+03,4.075725e+01,-7.397344e+01,3.185200e+04,1.989000e+03,1.000000e+00
max,1.754834e+07,1.951005e+07,3.721000e+03,4.550636e+01,-7.356891e+01,3.721000e+03,4.550636e+01,-7.356891e+01,3.583100e+04,2.002000e+03,2.000000e+00

In [8]:
df.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 17548339 entries, 0 to 17548338
Data columns (total 14 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   tripduration             int64
 2   starttime                object
 3   stoptime                 object
 4   start_station_id         float64
 5   start_station_latitude   float64
 6   start_station_longitude  float64
 7   end_station_id           float64
 8   end_station_latitude     float64
 9   end_station_longitude    float64
 10  bikeid                   int64
 11  usertype                 object
 12  birth_year               int64
 13  gender                   int64
dtypes: float64(6), int64(5), object(3)
memory usage: 1.8+ GB

In [14]:
#del df['Unnamed: 0']
df.head()  
#deleting the unnamed column - same as index

,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1

In [15]:
#rounding off starttime and stoptime
df['starttime'] = pd.to_datetime(df['starttime']).dt.floor('s')  #.floor() - resets the value to nearest zero, removing frational part of seconds
df['stoptime'] = pd.to_datetime(df['stoptime']).dt.floor('s')

In [17]:
#making a tripduration column. 
df['tripduration'] = (df['stoptime'] - df['starttime']).dt.total_seconds().astype(int)